wifi_ssid: "SSID"
wifi_password: "12345678"
wifi_domain: .local
web_auth_username: "admin"
web_auth_password: "ChangeM34Secur1ty"
ota_password: "ChangeM34Secur1ty"
api_encryption_key: "ChangeMeToAValidAPIEncryptionKey=="
